<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Schema intro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div align="center" style="width: 1000px;">
    <h3 class="display-3">This is an intro application</h3>
    <p class="lead">Hi! Here is the weather forecast for <span th:text="${cityName}"></span>!</p>
    <div id="chart_div"></div>
</div>
<script th:inline="javascript">
        var real_data = /*[[${chartData}]]*/'noValue';

        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawColumnChart);
        });

        function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Days');
            data.addColumn('number', 'Degree');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Weather forecast',
                hAxis : {
                    title : 'Days',
                },
                vAxis : {
                    title : 'Degree'
                }
            };
            var chart = new google.visualization.ColumnChart(document
                    .getElementById('chart_div'));
            chart.draw(data, options);
        }

</script>
</body>
</html>